.container {
  width: 100%;
  text-align: center;
}

.sub-container {
    background-color: azure;
    width: 50%;
    height: 80%;
    margin-top: 40px;
    border: 2px solid darkgreen;
    padding: 30px;
    display: inline-block;
    text-align: center;
}

h1.sub-head {
    font-size: 20px;
    font-weight: 200;
    font-family: sans-serif;
}

.sub-main {
    color: azure;
}

.senddata {
    font-size: 16px;
    font-weight: 200;
    font-family: sans-serif;
    color: firebrick;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border-top: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    opacity: 0.5;
    margin-top: 30px;
    margin-bottom: 10px;
}


.button:hover {
    opacity: 1;
}

input[type=password],
select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password]:focus {
    border-color: #333;
}
